/* Add any additional styles here */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    padding: 10px; /* Adds some padding */
    background-color: #fff; /* Optional: background color for the footer */
}

#text-input {
    width: 200px; /* Set a fixed width for the input field */
    margin: 0 auto 10px auto; /* Center the input field */
}

#generate-btn {
    width: 200px; /* Set a fixed width for the button */
    margin: 0 auto; /* Center the button */
}

#qrcode {
    margin-top: 20px;
}
